@import 'vars';

.Display {
	display: grid;
	grid-template-columns: repeat(auto-fill, 190px);
	gap: 62px;
	place-content: justify;
	margin: 30px 0 0 0;
}

@media (max-width: 800px) {
	.Display {
		place-content: center;
	}
}