@import 'vars';

.Display {
	display: grid;
	grid-template-columns: repeat(auto-fill, 220px);
	gap: 27px;
	place-content: justify;
	margin: 30px 0 0 0;
}

@media (max-width: 1024px) {
	.Display {
		grid-template-columns: repeat(auto-fill, 220px);
		place-content: center;
	}
}