@import 'vars';

.recipeView{
    width: 67%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    
}
.recipeView__img{
    width: 100%;
    height: 250px;
    border-radius: 20px;
    position: relative;
}

.recipeView__botones{
    position: absolute;
    top: 180px;
    left: 50px;
}

.recipeView__title{
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
	color: var(--pink-dark);
	font-family: 'Roboto', sans-serif;
}

.recipeView__descripction{
    width: 100%;
    font-size: 14px;
    margin-top: 30px;
	color: var(--pink-dark);
	font-family: 'Roboto', sans-serif;
    text-align: justify;
}